@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("/public/fonts/RobotoSemiBold.ttf");
  }
  
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/public/fonts/RobotoBold.ttf");
  }